// Place all the styles related to the Fpl controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
    text-align: left
}

.tether-element.selector {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5rem;

  input.search {
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
  }

  .values {
    overflow: auto;
    max-height: 10rem;
    min-width: 7rem;
    padding: 0.2rem 0.5rem;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 0.5rem;
  }

  a.btn {
    margin-right: 0.5rem;
  }

  label {
    display: block;
    font-weight: normal;
    white-space: nowrap;
    margin: 0;
    overflow: hidden;

    input {
      margin-right: 0.5rem;
    }
  }
}

table.dataTable thead th {
  outline: none;
  overflow: visible !important;

  .filters {
    position: relative;
    z-index: 1;

    a.toggle {
      font-weight: normal;
      opacity: 0.5;
      white-space: nowrap;

      &.active {
        font-weight: bold;
        opacity: 1;
      }
      i.icon {
        font-size: 80%;
        top: 0;
      }
    }

  }
}

/*
 * Indicator
 */
.indicator {
  height: 5rem;
  width: 100%;
  line-height: 100%;
  text-align: center;
  position: relative;
  z-index: 999;

  &.overlay {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  i {
    position: absolute;
    top: 30%;
    font-size: 500%;
    color: navy;
    opacity: 0.8;
    display: block;
    width: inherit;
  }
}

/*
 * Filter form
 */
.filter-dialog-wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 420px;
  z-index: 2;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transform: translate3d(100%,0,0);

  #filter-cancel {
    font-size: 2rem;
  }

  .filter-form {
    overflow: auto;

    label {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    input[type="number"] {
      width: 4.5rem;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }

  .filter-footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 419px;
  }
}

.filter-dialog-wrapper.is-visible {
  transform: translate3d(0%,0,0);
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #e2e2e2;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #337ab7;
    color: #fff;
}