<div class="modal fade" id="modal-dialog" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="dialog-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t(:close) -%>"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <h2 class="modal-title" id="dialog-label">&nbsp;</h2>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= t(:cancel) -%></button>
        <button type="button" class="btn btn-primary" data-loading-text="<%= t(:loading) -%>"><%= t(:save) -%></button>
      </div>
    </div>
  </div>
</div>